<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
<head>
    <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css'/>

    <link rel="import" href="/contratacionesabiertas/static/bower_components/polymer/polymer.html">
    <link rel="import" href="/contratacionesabiertas/static/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/contratacionesabiertas/static/dgm-footer/dgm-footer.html">

    <style>
        .panel{
            border: none;
        }
    </style>

    <title>Contrataciones Abiertas - Proveedores</title>
</head>

<body>
<dgm-navbar></dgm-navbar>
<div class="container">
    <% if ( typeof suppliers != 'undefined') { %>
    <br>
    <% include supplier_list %>

    <% } else{%>
    <div class="alert alert-danger" role="alert">
        Proveedor no encontrado
    </div>
    <%}%>
</div>
<dgm-footer></dgm-footer>
<script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/contratacionesabiertas/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
</body>
</html>