<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/contrato.css'/>
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/dgm-footer/dgm-footer.html">

    <title>Contrataciones Abiertas</title>
</head>

<body>
<dgm-navbar></dgm-navbar>



<div class="container">

    <div class="well">
        PROCESO DE CONTRATACION
        <p>
            <%= info.title %>
        </p>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- planeación: planning -->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- licitación: tender -->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- adjudicacion: award -->
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <!-- contract: contrato -->
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <!-- milestones: hitos -->
            <!-- transactions: transacciones  -->
            <!-- documents: documentos -->

        </div>
    </div>



</div>


<dgm-footer></dgm-footer>
<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<!--<script src="/javascripts/foldableTree.js"></script>-->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>
