<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/style_d3bubble.css'/>
    <link rel="stylesheet" type="text/css" href="/bower_components/jqplot/jquery.jqplot.css"/>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/dgm-footer/dgm-footer.html">

    <title><%= title %></title>

</head>
<body style="background: #eee">

<dgm-navbar></dgm-navbar>
<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Nuevo Aeropuerto Intenacional de la Ciudad de México</b></p>
    </div>
</section>

<section id="highlights">
    <div class="content">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-xs-12'><h3 class="jumbo-title">Estándar de Contrataciones Abiertas</h3></div>
            </div>

            <div class="row">
                <div class='col-xs-8'>
                    <p>Visualiza y descarga los Datos Abiertos de las etapas de planeación y concurso de la Red
                        Compartida.
                        Durante el desarrollo del proyecto, trabajaremos junto con la Alianza para las Contrataciones
                        Abiertas para continuar publicando datos accesibles,
                        comparables y oportunos sobre las siguientes etapas de adjudicación, contratación e
                        implementación, conforme estos se generen.
                        Este proyecto es parte de un piloto para adaptar el Estándar de Datos para Contrataciones
                        Abiertas a un modelo de alianza público privado.</p>
                </div>
                <div class='col-xs-1'></div>
                <div class='col-xs-3'><img src='/images/logo_gacm.svg'/></div>
            </div>

        </div>
    </div>
</section>


<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a data-toggle="pill" href="#home">Contratos
                        <!--<i class="fa fa-file-code-o"></i>--> </a></li>
                <li role="presentation"><a data-toggle="pill" href="#menu1">Proveedores
                        <!--<i class="fa fa-users"></i>--></a></li>
            </ul>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>

    <div class="tab-content">
        <!-- Contratos -->
        <div id="home" class="tab-pane fade in active">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <!--<div class="col-sm-12" style=" background: white;">-->
                        <div class="col-sm-4">
                            <h3 style="color: #00cc99"><b>NAICM</b></h3>
                            <h2 style="color: #673AB7"><b><%= metadata.contract_count %></b>
                                <small>contratos</small>
                            </h2>
                            <h2 style="color: #673AB7"><b><%= metadata.supplier_count %></b>
                                <small>contratistas</small>
                            </h2>
                            <h2 style="color: #673AB7">
                                <b><%= parseInt(metadata.contract_value_amount_total / 1000000) %></b>
                                <small>millones de pesos</small>
                            </h2>

                        </div>
                        <div class="col-sm-8" style="overflow: auto;">
                            <h3 style="text-align: left; color: #00cc99"><b>Avance físico y financiero por contrato</b>
                            </h3>
                            <div id="d3bar"></div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <!--<br>-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <!--<div class="col-sm-12" style="background: white">-->

                        <div class="col-sm-4">
                            <h3 style="text-align: left; color: #00cc99"><b>Tipos de contratación</b></h3>
                            <div style="color: white; height: 270px; width: 260px;" id="chart4"></div>
                        </div>
                        <div class="col-sm-8" style="overflow: auto;">
                            <h3 style="text-align: left; color: #00cc99"><b>Contrataciones en el tiempo</b></h3>

                            <div style="height: 400px; width: 700px; align-content: left;" id="series_chart_div"></div>
                            <!--<br>-->
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>

        <!-- Proveedores -->
        <div id="menu1" class="tab-pane fade">
            <div class="panel panel-default">
                <div class="panel-body">

                    <!--<h3 style="text-align: left; color: #00cc99"><b>Proveedores</b></h3>-->


                    <nav class="navbar navbar-default" role="navigation">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul id="visualizador" class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"><strong>Filtrar <span
                                                    class="caret"></span></strong></a>
                                    <ul id="filtros" class="dropdown-menu scrollable-menu">
                                        <li class="dropdown-header"><p id="clear_filters" class="clear"
                                                                       style="color:#96CA45; cursor:pointer"><strong>Mostrar/Quitar
                                                    todos</strong></p>
                                        </li>
                                        <li class="divider"></li>
                                        <div id="filter-list"></div>
                                    </ul>
                                </li>
                                <div class="form-group navbar-form navbar-left">
                                    <select id='group-everything-by' class="form-control">
                                        <option value=''>Agrupar</option>
                                    </select>
                                </div>
                                <div class="form-group navbar-form navbar-left">
                                    <select id='color-everything-by' class="form-control">
                                        <option value=''>Colorear</option>
                                    </select>
                                </div>
                                <div id="search_form" class="navbar-form navbar-left">
                                    <input type="text" class="form-control" id="buscar_bubble" value=""
                                           placeholder="Buscar proveedores"/>
                                </div>
                            </ul>
                        </div>
                    </nav>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- d3 bubble chart-->
                            <div id="vis" class="svg-container"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id='color-hints'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
    <h3><b>Lista de contratos</b></h3>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input id="buscar" type="text" class="form-control" placeholder="Buscar..."
                       aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
        </div>


        <div class="col-sm-4">
            <select class="form-control" id="filtrar">
                <option value="T">Mostrar todo</option>
                <option value="AD">Adjudicaciones directas</option>
                <option value="ITP">Invitaciónes a tres</option>
                <option value="LP">Licitaciones Públicas</option>
            </select>
        </div>
        <div class="col-sm-4">
            <!-- ordenar -->
            <select class="form-control" id="orderby">
                <option value="title">Ordenar por nombre</option>
                <option value="value_amount">Ordenar por monto</option>
                <option value="datesigned">Ordenar por fecha de firma</option>
                <option value="contractid">Ordenar por ID de contrato</option>
            </select>

        </div>
    </div>


    <br>

    <div style="font-size: small">
        <div id="ctable">
            <% include contracts %>
        </div>
    </div>
        </div>
    </div>
</div>

<dgm-footer></dgm-footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jqplot/jquery.jqplot.js"></script>
<script src="/bower_components/jqplot/plugins/jqplot.donutRenderer.js"></script>

<!--<script src="/bower_components/jqplot/plugins/jqplot.barRenderer.js"></script>-->
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<!--<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>-->
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.pointLabels.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.highlighter.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/javascripts/dashboard.js"></script>

<!-- Sergio -->
<script src="/javascripts/js/tooltip.js"></script>
<!-- Archivo que contiene las funciones para la visualizacion de los elementos -->
<script type="text/javascript" src="/javascripts/js/vis.js"></script>
<!-- Archivo que contiene las funciones para los eventos -->
<script type="text/javascript" src="/javascripts/js/custom.js"></script>

</body>
</html>