<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />-->
    <title>Contrataciones Abiertas</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <!--<link rel='stylesheet' href='/stylesheets/buttons.css'/>-->
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <script src="http://d3js.org/d3.v3.min.js"></script>

</head>


<body>
<dgm-navbar></dgm-navbar>
<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Contratacniones Abiertas</b></p>
    </div>
</section>


<div class="container">
    <br>
    <br>
    <br>
    <div class="col-md-12" id="small-balls" style="position:absolute;right:50px;top:100px"></div>
    <div class="col-md-12">
      <div class="col-md-6">
      <h2><b>Contrataciones Abiertas</b></h2>
      <p>Lorem ipsim dolor sit amet secularum</p>
      </div>
      <br>
      <div class="col-md-6">
        <div class="col-md-4 col-md-offset-1" style="background-color:#FAFAFA;">
          <a href="/dashboard"><img src="/images/gacm.png" alt="GACM"></a>
        </div>
        <div class="col-md-4 col-md-offset-1" style="background-color:#FAFAFA">
          <a href="http://datos.gob.mx/redcompartida/"> <img src="/images/redComp.png" style="width:60px"></a>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
          <div class="col-md-5 col-md-offset" style="background-color:#BDBDBD">
            <p><font size="2"><b>Ronda 1</b> ESPERALO PRONTO</font></p>
          </div>
          <div class="col-md-5 col-md-offset-1" style="background-color:#BDBDBD">
            <p><font size="2"><b>Ronda 1</b> ESPERALO PRONTO</font></p>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<br>
<dgm-footer></dgm-footer>
<script src="/javascripts/landing.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/dgm-footer/dgm-footer.html">
</body>
</html>
