<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />-->
    <title>Contrataciones Abiertas</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <!--<link rel='stylesheet' href='/stylesheets/buttons.css'/>-->
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">

    <style type="text/css">
        .bgimg {
            background: #eee;
            background-image: url('/images/bg.png');
            background-size: 70%;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    </style>

</head>


<body>
<dgm-navbar></dgm-navbar>
<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Contrataciones Abiertas</b></p>
    </div>
</section>


<section id="highlights" class="bgimg">
    <div class="content">
        <!--<div class="overlay" style="background: #eee"></div>-->
        <div class="container-fluid">

            <div class="row" >
                <div class="col-sm-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2 style="text-align: center"><b>Contrataciones Abiertas</b></h2>
                    <h4 style="text-align: center; color: #666666;">Lorem ipsim dolor sit amet secularum</h4>
                    <br>
                    <br>
                </div>
                <section>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div class="panel panel-default" style="align-content: center">
                            <div class="panel-body">
                                <center>
                                    <a href="/dashboard"><img src="/images/gacm.png"  alt="GACM"></a></center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <center>
                                    <a href="http://datos.gob.mx/redcompartida/"> <img src="/images/banner-red-compartida.png"></a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </section>
            </div>
            <br>

        </div>
    </div>
</section>

<br>
<div class="container">
    <h4><b>Avances</b></h4>
    <hr>

    <div class="row">
        <section>
            <!--
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="panel panel-default" style="align-content: center">
                    <div class="panel-body">
                        <center>
                            <a href="/dashboard"><img src="/images/gacm.png"  alt="GACM"></a></center>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <center>
                            <a href="http://datos.gob.mx/redcompartida/"> <img src="/images/banner-red-compartida.png"></a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>-->
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<dgm-footer></dgm-footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/dgm-footer/dgm-footer.html">
</body>
</html>
