<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/dgm-footer/dgm-footer.html">

    <title>Contrataciones Abiertas</title>
</head>


<body>
<dgm-navbar></dgm-navbar>

<!--
<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Contrataciones Abiertas</b></p>
    </div>
</section>
-->

<div  class="bgimg" style="background-color: #333">
    <div class="container">
        <br>
        <br>
        <center>
            <img src="/images/icono_con.png" style="width: 80px" >
        </center>
        <h2 style="text-align: center; color: white"><b>Contrataciones Abiertas</b></h2>
        <h4 style="text-align: center; color: white">Lorem ipsim dolor sit amet secularum</h4>
        <br>
        <div class="row" style="text-align: center">
            <div class="col-sm-4" style="color:white;">
                CONTRATOS
                <br>
                <%= metadata.contract_count %>
            </div>
            <div class="col-sm-4" style="color: white">
                CONTRATISTAS
                <br>
                <%= metadata.supplier_count %>
            </div>
            <div class="col-sm-4" style="color: white">
                MONTO TOTAL
                <br>
                $<%= parseInt(metadata.contract_value_amount_total / 1000000) %>
                <small>millones</small>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row" >
        <!-- <div  class="col-sm-12">
                  <br>
                    <center>
                    <img src="/images/icono_con.png" >
                    </center>
                    <h2 style="text-align: center"><b>Contrataciones Abiertas</b></h2>
                    <h4 style="text-align: center; color: #666666;">Lorem ipsim dolor sit amet secularum</h4>
                    <br>
                    <br>
                </div>--->

        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="align-content: center">
                <div class="panel-body">
                    <center>
                        <a href="/contrataciones-abiertas/contratos"><img src="/images/gacm.png"  alt="GACM"></a></center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <a href="http://datos.gob.mx/redcompartida/"> <img src="/images/banner-red-compartida.png"></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>

    <!--
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="panel panel-default" style="background: #eee; text-align: center">
                        <div class="panel-body">
                            <b>Ronda 1</b> ESPERALO PRONTO
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default" style="background: #eee; text-align: center">
                        <div class="panel-body">
                            <b>Contrataciones salud</b> ESPERALO PRONTO
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

-->
</div>
<br>
<div style="background-color: white">

    <div class="container">
        <h4><b>Avances</b></h4>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>


<dgm-footer></dgm-footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

</body>
</html>
