<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <!--<link rel='stylesheet' href='/stylesheets/buttons.css'/>-->

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">

<style>
    div.google-visualization-tooltip > ul > li > span {
        /*color: #ff0000 !important;*/
    }
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart'], 'language':'es'});
        google.charts.setOnLoadCallback(drawSeriesChart);

        function drawSeriesChart() {

            var data = google.visualization.arrayToDataTable([
                ['ID',                      'Fecha de firma',                    'Vigencia (meses)', 'Tipo',             'Monto MXN'],
                ['LO-009KDH999-N5-2014',     new Date('2015-01-02'),              6,      'Licitación',              39724276.56],
                ['SO-009KDH999-N24-2015',    new Date('2015-02-19'),              1,      'Adjudicación directa',   521999.84],
                ['SO-009KDH999-N23-2015',    new Date('2015-02-20'),               1,      'Adjudicación directa',   638000],
                ['SO-009KDH999-N26-2015',    new Date('2015-02-19'),              1,      'Adjudicación directa',   539400],
                ['IO-009KDH999-N11-2015',    new Date('2015-03-19'),              2,         'Invitación a 3',         9429941.46],
                ['IO-009KDH999-N10-2015',    new Date('2015-03-20'),              6,       'Invitación a 3',         2501985.67],
                ['LO-099KDH999-N20-2015',    new Date('2015-05-14'),              1,      'Licitación',             5844840.96],
                ['LO-099KDH999-T15-2015',    new Date('2015-05-29'),              3,      'Licitación',             13514000],
                ['LO-009KDH999-N46-2015',    new Date('2015-07-21'),              18,      'Licitación',            16684244.272],
                ['LO-009KDH999-N42-2015',    new Date('2015-07-21'),              18,      'Licitación',             13832891.6792],
                ['LO-009KDH999-N45-2015',    new Date('2015-07-21'),              18,      'Licitación',             21963669.4016],
                ['IO-009KDH999-N41-2015',    new Date('2015-07-29'),              2,      'Invitación a 3',         38949488.17],
                ['IO-009KDH999-N54-2015',    new Date('2015-08-28'),              3.5,      'Invitación a 3',         3812525.54],
                ['LO-009KDH999-N47-2015',    new Date('2015-09-10'),              7,      'Licitación',             129973731.2],
                ['LO-009KDH999-N50-2015',    new Date('2015-10-09'),              4,      'Licitación',             223329692.62],
                ['LO-009KDH999-T52-2015',    new Date('2015-10-23'),              48,      'Licitación',             158629469.03],
                ['LO-009KDH999-N79-2015',    new Date('2015-12-14'),              12,      'Licitación',             2044851759.9544],
                ['LO-009KDH999-N80-2015',    new Date('2015-12-31'),              13,      'Licitación',             705599669.9],
                ['LO-009KDH999-N78-2015',    new Date('2015-12-31'),              9,      'Licitación',             572943111],
                ['LO-009KDH999-N86-2015',    new Date('2015-12-31'),              12,      'Licitación',             11276263.6272],
                ['LO-009KDH999-N87-2015',    new Date('2015-12-31'),              12,      'Licitación',             13970275.444],
                ['AO-009KDH999-E26-2016',    new Date('2016-01-14'),              6,      'Adjudicación directa',   4286458.44],
                ['AO-009KDH999-E20-2016',    new Date('2016-01-21'),              6,      'Adjudicación directa',   8909803.13],
                ['IO-009KDH999-E15-2016',    new Date('2016-03-10'),              3,      'Invitación a 3',         12715541.31],
                ['IO-009KDH999-E96-2015',    new Date('2016-03-23'),              8,      'Invitación a 3',         91640000]
            ]);

            var options = {
                //'legend': 'left',
                //title: 'Contrataciones en el tiempo',
                tooltip: {isHtml: true},
                hAxis: {
                    title: 'Fecha de firma',
                    titleTextStyle: {italic: false},
                    gridlines: {
                        color: 'transparent'
                    }

                },
                vAxis: {
                    title: 'Vigencia en meses',
                    titleTextStyle: {italic: false},
                    /*gridlines: {
                        color: 'transparent'
                    }*/
                },
                bubble: {textStyle: {
                    //no text
                    color: 'none',
                    fontSize: 11,
                    auraColor: 'none'
                }},
                series: {

                    'Licitación': {color: '#00cc99'},
                    'Invitación a 3': {color: '#ff4d4d'},
                    'Adjudicación directa': {color: '#673AB7'}

                }
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
            chart.draw(data, options);
        }
    </script>

</head>
<body>

<dgm-navbar></dgm-navbar>
<section id="banner">
    <div class="container-fluid fixed">
        <p>Grupo Aeroportuario de la Ciudad de México</p>
        <!---<div class="row">
            <div class="col-xs-6 heading">Red Compartida</div>
            <div class="col-xs-6 links">
                <div onmousedown='draw_chart("Planeación")' class='select-box select-box-first select-box-active Planeación'>Planeación</div>
                <div onmousedown='draw_chart("Concurso")' class='select-box Concurso'>Concurso</div>
                <div title="La información se publicará conforme se genere durante el proyecto." data-toggle="tooltip" data-placement="bottom" class='select-box select-box-inactive Adjudicación'>Adjudicación</div>
                <div title="La información se publicará conforme se genere durante el proyecto." data-toggle="tooltip" data-placement="bottom" class='select-box select-box-inactive Contratación'>Contratación</div>
                <div title="La información se publicará conforme se genere durante el proyecto." data-toggle="tooltip" data-placement="bottom" class='select-box select-box-inactive Implementación'>Implementación</div>
            </div>
        </div>-->
    </div>
</section>

<section id="highlights">
    <div class="content">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-xs-12'><h3 class="jumbo-title">Estándar de Contrataciones Abiertas</h3></div>
            </div>
            <div class="row">
                <div class='col-xs-12'><p>Visualiza y descarga los Datos Abiertos de las etapas de planeación y concurso de la Red Compartida. Durante el desarrollo del proyecto, trabajaremos junto con la Alianza para las Contrataciones Abiertas para continuar publicando datos accesibles, comparables y oportunos sobre las siguientes etapas de adjudicación, contratación e implementación, conforme estos se generen. Este proyecto es parte de un piloto para adaptar el Estándar de Datos para Contrataciones Abiertas a un modelo de alianza público privado.</p></div>
                <!--<div class='col-xs-1'></div>
                <div class='col-xs-3'><img src='gacm.png'/></div>-->
            </div>
        </div>
    </div>
</section>

<div class="container">
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/images/gacm1.png" >
                    <h4 style="color: #00cc99">GACM</h4>
                    <h2 style="color: #673AB7">25 <small>contratos</small></h2>
                    <h2 style="color: #673AB7">29 <small>contratistas</small></h2>
                    <h2 style="color: #673AB7">43,389 <small>millones de pesos</small></h2>

                </div>
                <div class="col-sm-8">
                    <h3 style="text-align: left; color: #00cc99">Avance físico y financiero por contrato</h3>
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="text-align: left; color: #00cc99">Tipos de contratación</h3>
                    <div  style="height: 270px" id="chart4"></div>
                </div>
                <div class="col-sm-8">
                    <h3 style="text-align: left; color: #00cc99">Contrataciones en el tiempo</h3>
                    <div  style="height: 400px; align-content: left;" id="series_chart_div" ></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input id="buscar" type="text" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <br>

    <div id="ctable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Año</th>
                <th>Producto o servicio</th>
                <th>Monto (IVA)</th>
                <th>Descarga</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>1</td>
                <td>LO-009KDH999-N5-2014</td>
                <td>2015</td>
                <td>Servicio de extracción de ademes y restitución de terreno.</td>
                <td>$39724276.56</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>SO-009KDH999-N24-2015</td>
                <td>2015</td>
                <td>Plan de acciones de monitoreo y conservación de aves para el NAICM.</td>
                <td>$521999.84</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>SO-009KDH999-N23-2015</td>
                <td>2015</td>
                <td>Elaboración del programa de monitoreo de ruido perimetral para las etapas de preparación del sitio, construcción, y, operación y mantenimiento del NAICM.</td>
                <td>$638000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>SO-009KDH999-N26-2015</td>
                <td>2015</td>
                <td>Plan de monitoreo, registro y verificación de emisión de gases de efecto invernadero para el NAICM.</td>
                <td>$539400.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>IO-009KDH999-N11-2015</td>
                <td>2015</td>
                <td>Construcción de caminos de acceso a zona del edificio terminal de la primera etapa, necesarios para la caracterización geotécnica inical.</td>
                <td>$9429941.46</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>IO-009KDH999-N10-2015</td>
                <td>2015</td>
                <td>Servicios de supervisión para la obra: extracción de ademes y restitución del terreno que ocupan dichos elementos ubicados en la poligonal para el Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$2501985.67</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>LO-099KDH999-N20-2015</td>
                <td>2015</td>
                <td>Construcción de caminos de accesos y plataformas para exploración geotécnica para la pista No. 2 del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$5844840.96</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>LO-099KDH999-T15-2015</td>
                <td>2015</td>
                <td>Estudio de las caracteristicas técnicas de infraestructura y diseño esquematico de la terminal de carga del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$13514000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>LO-009KDH999-N46-2015</td>
                <td>2015</td>
                <td>Plan de monitoreo y conservación de aves del proyecto del nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$16684244.272</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>LO-009KDH999-N42-2015</td>
                <td>2015</td>
                <td>Implementación del programa de rescate de flora y fauna para el nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$13832891.6792</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>LO-009KDH999-N45-2015</td>
                <td>2015</td>
                <td>Implementación del plan de restauración ecológica para el Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$21963669.4016</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>IO-009KDH999-N41-2015</td>
                <td>2015</td>
                <td>La elaboración del estudio de las características topográficas del terreno del Nuevo Aeropuerto Internacional de la Ciudad de México (NAICM).</td>
                <td>$38949488.17</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>IO-009KDH999-N54-2015</td>
                <td>2015</td>
                <td>Supervisión para: construcción del proyecto integral consistente en barda y camino perimetral, alumbrado, servicios inducidos y casetas de acceso para el Nuevo Aeropuerto Internacional de la Ciudad de México (primera etapa).</td>
                <td>$3812525.54</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>14</td>
                <td>LO-009KDH999-N47-2015</td>
                <td>2015</td>
                <td>Desarrollo del proyecto ejecutivo, construcción, equipamiento de mobiliario e instalaciones complementarias para el campamento del Grupo Aeroportuario de la Ciudad de México en el sitio del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$129973731.20</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>LO-009KDH999-N50-2015</td>
                <td>2015</td>
                <td>Trabajos relativos a la construcción del drenaje pluvial temporal del Nuevo Aeropuerto de la Ciudad de México.</td>
                <td>$223329692.62</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>LO-009KDH999-T52-2015</td>
                <td>2015</td>
                <td>Diseñar e instrumentar el modelo virtual de información para la construcción del BIM del NAICM.</td>
                <td>$158629469.03</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>17</td>
                <td>LO-009KDH999-N79-2015</td>
                <td>2015</td>
                <td>Convocatoria de nivelación y limpieza del terreno del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$2044851759.9544</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>18</td>
                <td>LO-009KDH999-N80-2015</td>
                <td>2015</td>
                <td>Convocatoria de construcción de los caminos provisionales de acceso al Nuevo Aeropuerto Internacional de la Ciudad de México (NAICM) ejecutando trabajos de terraceria, estructuras y obras de drenaje, pavimentación y señalamiento.</td>
                <td>$705599669.90</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>19</td>
                <td>LO-009KDH999-N78-2015</td>
                <td>2015</td>
                <td>Convocatoria de carga, acarreo y descarga fuera del poligono del material existente producto de depositos de demoliciones, desperdicios y desazolve.</td>
                <td>$572943111.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>20</td>
                <td>LO-009KDH999-N86-2015</td>
                <td>2015</td>
                <td>Supervisión técnica, administrativa y de control de calidad para los trabajos de nivelación y limpieza del terreno del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$11276263.6272</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>21</td>
                <td>LO-009KDH999-N87-2015</td>
                <td>2015</td>
                <td>Supervisión técnica, administrativa y de control de calidad para los trabajos de construcción de los caminos provisionales de acceso al Nuevo Aeropuerto Intenacional de la Ciudad de México (NAICM) ejecutanto trabajos de terraceria, estructuras y obras de drenaje, pavimentación y señalamiento.</td>
                <td>$13970275.444</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>22</td>
                <td>AO-009KDH999-E26-2016</td>
                <td>2016</td>
                <td>Supervisión del proyecto ejecutivo, construcción, equipamiento, mobiliario e instalaciones complementarias para el campamento del Grupo Aeroportuario de la Ciudad de México en el sitio del Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$4286458.44</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>AO-009KDH999-E20-2016</td>
                <td>2016</td>
                <td>Supervisión de la construcción del drenaje pluvial temporal del Nuevo Aeropuerto Intenacional de la Ciudad de México.</td>
                <td>$8909803.13</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>24</td>
                <td>IO-009KDH999-E15-2016</td>
                <td>2016</td>
                <td>Construcción de accesos y plataformas para exploración geotécnica, rehabilitación de tramos de prueba y bacheo somero de caminos existentes dentro del terreno para el Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$12715541.31</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>25</td>
                <td>IO-009KDH999-E96-2015</td>
                <td>2016</td>
                <td>Integración de la estratégia global y modelo de negocios para el Nuevo Aeropuerto Internacional de la Ciudad de México.</td>
                <td>$91640000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jqplot/jquery.jqplot.js"></script>
<script src="/bower_components/jqplot/plugins/jqplot.donutRenderer.js"></script>
<script src="/bower_components/jqplot/plugins/jqplot.barRenderer.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<!--<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>-->
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.pointLabels.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.highlighter.js"></script>
<link rel="stylesheet" type="text/css" href="/bower_components/jqplot/jquery.jqplot.css" />

<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/dgm-footer/dgm-footer.html">

<dgm-footer></dgm-footer>

<script>

    //donut chart
    $(document).ready(function(){
        var data = [
            ['Licitaciones', 14],['Invitaciones a 3', 6], ['Adjudicaciones directas', 5]
        ];

        var plot4 = $.jqplot('chart4', [data], {
            //title: 'TIPOS DE CONTRATACION',
            seriesDefaults: {
                // make this a donut chart.
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    // Donut's can be cut into slices like pies.
                    sliceMargin: 3,
                    // Pies and donuts can start at any arbitrary angle.
                    startAngle: -90,
                    showDataLabels: true,
                    // By default, data labels show the percentage of the donut/pie.
                    // You can show the data 'value' or data 'label' instead.
                    //dataLabels: 'value',
                    // "totalLabel=true" uses the centre of the donut for the total amount
                    totalLabel: true,
                    shadow: false
                },
                seriesColors: ['#00cc99', '#ff4d4d', '#673AB7']
            },
            grid: {
                drawBorder: false,
                drawGridLines: true,        // wether to draw lines across the grid or not.
                shadow: false,
                backgroundColor: 'rgb(255, 255, 255)'
            },
            highlighter: {
                show: true,
                useAxesFormatters: false,
                dataLabels: 'value',
                tooltipFormatString: '%s'
            }
        });

        //bar chart
        //avance fisico
        var s1 = [
            47.16, 85.15, 30.25,
            90, 21.23, 10.01,
            6.4, 4.33, 1.11,
            1.58, 25.93,12.27,
            18, 40
        ];

        //avance financiero
        var s2 = [
            (5708930.68 / 14382969.2 )*100,(5344833.89 / 11924906.62)*100, (4504538.98/ 18934197.76 )*100,
            (2565511.85/3286908.92)*100, (8620689.66/112046320.57)*100, (13609080.34/192525597.09)*100,
            0, (169601426.76/1762803241.34)*100, (57514449.48/608275577.5)*100,
            100, 0, 0,
            0, 0
        ];


        var ticks = [
            /*'LO-00<br>9KDH9<br>99-N5<br>-2014', 'SO-00<br>9KDH9<br>99-N24<br>-2015', 'SO-00<br>9KDH9<br>99-N23<br>-2015', 'SO-00<br>9KDH9<br>99-N26<br>-2015', 'IO-00<br>9KDH9<br>99-N11<br>-2015',

            'IO-00<br>9KDH9<br>99-N10<br>-2015', 'LO-09<br>9KDH9<br>99-N20<br>-2015', 'LO-09<br>9KDH9<br>99-T15<br>-2015',*/ 'LO-00<br>9KDH9<br>99-N46<br>-2015','LO-00<br>9KDH9<br>99-N42<br>-2015',

            'LO-00<br>9KDH9<br>99-N45<br>-2015', /*'IO-00<br>9KDH9<br>99-N41<br>-2015',*/ 'IO-00<br>9KDH9<br>99-N54<br>-2015', 'LO-00<br>9KDH9<br>99-N47<br>-2015', 'LO-00<br>9KDH9<br>99-N50<br>-2015',

            'LO-00<br>9KDH9<br>99-T52<br>-2015', 'LO-00<br>9KDH9<br>99-N79<br>-2015', 'LO-00<br>9KDH9<br>99-N80<br>-2015', 'LO-00<br>9KDH9<br>99-N78<br>-2015' ,'LO-00<br>9KDH9<br>99-N86<br>-2015' ,

            'LO-00<br>9KDH9<br>99-N87<br>-2015' ,'AO-00<br>9KDH9<br>99-E26<br>-2016', 'AO-00<br>9KDH9<br>99-E20<br>-2016'/*, 'IO-00<br>9KDH9<br>99-E15<br>-2016' ,'IO-00<br>9KDH9<br>99-E96<br>-2015'*/
        ];

        var ticks1 = [
            /*'LO-00<br>9KDH9<br>99-N5<br>-2014', 'SO-00<br>9KDH9<br>99-N24<br>-2015', 'SO-00<br>9KDH9<br>99-N23<br>-2015', 'SO-00<br>9KDH9<br>99-N26<br>-2015', 'IO-00<br>9KDH9<br>99-N11<br>-2015',

             'IO-00<br>9KDH9<br>99-N10<br>-2015', 'LO-09<br>9KDH9<br>99-N20<br>-2015', 'LO-09<br>9KDH9<br>99-T15<br>-2015',*/ 'LO-009KDH999-N46-2015','LO-009KDH999-N42-2015',

            'LO-009KDH999-N45-2015', /*'IO-00<br>9KDH9<br>99-N41<br>-2015',*/ 'IO-009KDH999-N54-2015', 'LO-009KDH999-N47-2015', 'LO-009KDH999-N50-2015',

            'LO-009KDH999-T52-2015', 'LO-009KDH999-N79-2015', 'LO-009KDH999-N80-2015', 'LO-009KDH999-N78-2015' ,'LO-009KDH999-N86-2015' ,

            'LO-009KDH999-N87-2015' ,'AO-009KDH999-E26-2016', 'AO-009KDH999-E20-2016'/*, 'IO-00<br>9KDH9<br>99-E15<br>-2016' ,'IO-00<br>9KDH9<br>99-E96<br>-2015'*/
        ];

        /*

        plot2 = $.jqplot('chart2', [s1, s2], {
            seriesColors: ['#00cc99', '#673AB7'],//'#ff4d4d'],
            series : [{label: 'Avance físico'},{label: 'Avance financiero'}],
            seriesDefaults: {
                shadow: false,
                renderer:$.jqplot.BarRenderer,
                pointLabels: {
                    show: false //bar value
                }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    //tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    //labelRenderer: $.jqplot.CanvasAxisLabelRenderer,

                    tickOptions:{
                       show: false,
                        textColor: 'white'
                    },

                    rendererOptions: {
                        drawBaseline: true
                    },
                    drawMajorGridlines: false,
                    //ticks: ticks
                },
                yaxis:{
                    drawMajorGridlines: false,
                    label: "Porcentaje de avance (%)",
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    min: 0,
                    max: 100
                }
            },
            legend: {
                show: false,  // Sin leyenda
                location: 's',
                placement: 'outside'
            },
            grid: {
                drawBorder: false,
                drawGridLines: true,        // wether to draw lines across the grid or not.
                shadow: false,
                backgroundColor: 'rgb(255, 255, 255)'
            },
            highlighter: {
                show: true,
                sizeAdjust: 0.5,
            //useAxesFormatters: false,
                //dataLabels: 'value',
                //tooltipFormatString: '%s'
                tooltipContentEditor: function(current, serie, index, plot ){
                    return "<p>Contrato: <br><b>"+ticks1[index] +"</b></p>"+
                            "<p>Avance "+(serie==0?'fisico':'financiero')+":<br> <b>"+ parseInt(plot.data[serie][index])+ "%</b></p>";
                }
            }
        });*/


        plot2 = $.jqplot('chart2', [s1, s2], {
            seriesColors: ['#00cc99', '#673AB7'],//'#ff4d4d'],
            series : [{label: 'Avance físico'},{label: 'Avance financiero'}],
            seriesDefaults: {
                shadow: false,
                renderer:$.jqplot.BarRenderer,
                pointLabels: {
                    show: false //bar value
                }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    //tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    //labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    tickOptions:{
                        show: false,
                        textColor: 'white'
                    },
                    /*
                     rendererOptions: {
                     drawBaseline: false
                     }*/
                    drawMajorGridlines: false,
                    //ticks: ticks
                },
                yaxis:{
                    //drawMajorGridlines: false,
                    label: "Porcentaje de avance (%)",
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    min: 0,
                    max: 100
                }
            },
            legend: {
                show: false,  // Sin leyenda
                location: 's',
                placement: 'outside'
            },
            grid: {
                drawBorder: false,
                drawGridLines: true,        // wether to draw lines across the grid or not.
                shadow: false,
                backgroundColor: 'rgb(255, 255, 255)'
            },
            highlighter: {
                show: true,
                sizeAdjust: 0.5,
                //useAxesFormatters: false,
                //dataLabels: 'value',
                //tooltipFormatString: '%s'
                tooltipContentEditor: function(current, serie, index, plot ){
                    return "<p>Contrato: <br><b>"+ticks1[index] +"</b></p>"+
                            "<p>Avance "+(serie==0?'fisico':'financiero')+":<br> <b>"+ parseInt(plot.data[serie][index])+ "%</b></p>";
                }
            }
        });

    });

    var contracts = [
        {
            number : '1',
            id: 'LO-009KDH999-N5-2014',
            year: '2015',
            product : 'SERVICIO DE EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DE TERRENO.',
            amount: '$39724276.56',
            url : ''
        },
        {
            number : '2',
            id: 'SO-009KDH999-N24-2015',
            year: '2015',
            product : 'PLAN ACCIONES DE MONITOREO Y CONSERVACION DE AVES PARA EL NAICM.',
            amount: '$521999.84',
            url : ''
        },
        {
            number : '3',
            id: 'SO-009KDH999-N23-2015',
            year: '2015',
            product : 'ELABORACION DEL PROGRAMA DE MONITOREO DE RUIDO PERIMETRAL PARA LAS ETAPAS DE PREPARACION DEL SITO, CONSTRUCCION, Y, OPERACIÓN Y MANTENIMIENTO DEL NAICM.',
            amount: '$638000.00',
            url : ''
        },
        {
            number : '4',
            id: 'SO-009KDH999-N26-2015',
            year: '2015',
            product : 'PLAN DE MONITOREO, REGISTRO Y VERIFICACION DE EMISION DE GASES DE EFECTO INVERNADERO PARA EL NAICM.',
            amount: '$539400.00',
            url : ''
        },
        {
            number : '5',
            id: 'IO-009KDH999-N11-2015',
            year: '2015',
            product : 'CONSTRUCCION DE CAMINOS DE ACCESO A ZONA DEL EDIFICIO TERMINAL DE LA PRIMERA ETAPA, NECESARIOS PARA LA CARACTERIZACIÓN GEOTÉCNICA INICIAL.',
            amount: '$9429941.46',
            url : ''
        },
        {
            number : '6',
            id: 'IO-009KDH999-N10-2015',
            year: '2015',
            product : 'SERVICIOS DE SUPERVISIÓN PARA LA OBRA: EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DEL TERRENO QUE OCUPAN DICHOS ELEMENTOS UBICADOS EN LA POLIGONAL PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$2501985.67',
            url : ''
        },
        {
            number : '7',
            id: 'LO-099KDH999-N20-2015',
            year: '2015',
            product : 'CONSTRUCCION DE CAMINOS DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA PARA LA PISTA NO 2 DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$5844840.96',
            url : ''
        },
        {
            number : '8',
            id: 'LO-099KDH999-T15-2015',
            year: '2015',
            product : 'ESTUDIO DE LAS CARACTERISTICAS TÉCNICAS DE INFRAESTRUCTURA Y DISEÑO ESQUEMATICO DE LA TERMINAL DE CARGA DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$13514000.00',
            url : ''
        },
        {
            number : '9',
            id: 'LO-009KDH999-N46-2015',
            year: '2015',
            product : 'PLAN DE MONITOREO Y CONSERVACIÓN DE AVES DEL PROYECTO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$16684244.272',
            url : ''
        },
        {
            number : '10',
            id: 'LO-009KDH999-N42-2015',
            year: '2015',
            product : 'IMPLEMENTACIÓN DEL PROGRAMA  DE RESCATE DE FLORA Y FAUNA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$13832891.6792',
            url : ''
        },
        {
            number : '11',
            id: 'LO-009KDH999-N45-2015',
            year: '2015',
            product : 'IMPLEMENTACIÓN DEL PLAN DE RESTAURACIÓN ECOLÓGICA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$21963669.4016',
            url : ''
        },
        {
            number : '12',
            id: 'IO-009KDH999-N41-2015',
            year: '2015',
            product : 'LA ELABORACIÓN DEL ESTUDIO DE LAS CARACTERÍSTICAS TOPOGRÁFICAS DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM).',
            amount: '$38949488.17',
            url : ''
        },
        {
            number : '13',
            id: 'IO-009KDH999-N54-2015',
            year: '2015',
            product : 'SUPERVISIÓN PARA: CONSTRUCCIÓN DEL PROYECTO INTEGRAL CONSISTENTE EN BARDA Y CAMINO PERIMETRAL, ALUMBRADO, SERVICIOS INDUCIDOS Y CASETAS DE ACCESO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (PRIMERA ETAPA).',
            amount: '$3812525.54',
            url : ''
        },
        {
            number : '14',
            id: 'LO-009KDH999-N47-2015',
            year: '2015',
            product : 'DESARROLLO DEL PROYECTO EJECUTIVO, CONSTRUCCIÓN, EQUIPAMIENTO DE MOBILARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$129973731.20',
            url : ''
        },
        {
            number : '15',
            id: 'LO-009KDH999-N50-2015',
            year: '2015',
            product : 'TRABAJOS RELATIVOS A LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO DE LA CIUDAD DE MÉXICO.',
            amount: '$223329692.62',
            url : ''
        },
        {
            number : '16',
            id: 'LO-009KDH999-T52-2015',
            year: '2015',
            product : 'DISEÑAR E INSTRUMENTAR EL MODELO VIRTUAL  DE INFORMACIÓN PARA LA CONSTRUCCIÓN DEL BIM DEL NAICM.',
            amount: '$158629469.03',
            url : ''
        },
        {
            number : '17',
            id: 'LO-009KDH999-N79-2015',
            year: '2015',
            product : 'CONVOCATORIA DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$2044851759.9544',
            url : ''
        },
        {
            number : '18',
            id: 'LO-009KDH999-N80-2015',
            year: '2015',
            product : 'CONVOCATORIA DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.',
            amount: '$705599669.90',
            url : ''
        },
        {
            number : '19',
            id: 'LO-009KDH999-N78-2015',
            year: '2015',
            product : 'CONVOCATORIA DE CARGA, ACARREO Y DESCARGA FUERA DEL POLIGONO DEL MATERIAL EXISTENTE PRODUCTO DE DEPOSITOS DE DEMOLICIONES, DESPERDICIOS Y DESAZOLVE.',
            amount: '$572943111.00',
            url : ''
        },
        {
            number : '20',
            id: 'LO-009KDH999-N86-2015',
            year: '2015',
            product : 'SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$11276263.6272',
            url : ''
        },
        {
            number : '21',
            id: 'LO-009KDH999-N87-2015',
            year: '2015',
            product : 'SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.',
            amount: '$13970275.444',
            url : ''
        },
        {
            number : '22',
            id: 'AO-009KDH999-E26-2016',
            year: '2016',
            product : 'SUPERVISIÓN DEL PROYECTO EJECUTIVO, CONTRUCCIÓN, EQUIPAMENTO, MOBILIARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$4286458.44',
            url : ''
        },
        {
            number : '23',
            id: 'AO-009KDH999-E20-2016',
            year: '2016',
            product : 'SUPERVISIÓN DE LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$8909803.13',
            url : ''
        },
        {
            number : '24',
            id: 'IO-009KDH999-E15-2016',
            year: '2016',
            product : 'CONSTRUCCIÓN DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA, REHABILITACIÓN DE TRAMOS DE PRUEBA Y BACHEO SOMERO DE CAMINOS EXISTENTES DENTRO DEL TERRENO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$12715541.31',
            url : ''
        },
        {
            number : '25',
            id: 'IO-009KDH999-E96-2015',
            year: '2016',
            product : 'INTEGRACIÓN DE LA ESTRATEGIA GLOBAL Y MODELO DE NEGOCIOS PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$91640000.00',
            url : ''
        }
    ];



    function searbykeyword ( keyword, contracts, table ){

        var html = "<table class='table table-striped'>"+
                "<thead>"+
                "<tr>"+
                "<th>#</th><th>Contrato</th><th>Año</th><th>Producto o servicio</th><th>Monto (IVA)</th><th>Descarga</th>"+
                "</tr>"+
                "</thead>"+
                "<tbody>";

        for (var i =0; i < contracts.length; i++){

            if ( keyword != '' ){

                if ( contracts[i].id.toUpperCase().indexOf(keyword.toUpperCase()) != -1 || contracts[i].product.toUpperCase().indexOf(keyword.toUpperCase()) != -1 ) {
                    html += "<tr><td>"+ contracts[i].number+"</td>"+
                            "<td>"+contracts[i].id+"</td>"+
                            "<td>"+contracts[i].year+"</td>"+
                            "<td>"+contracts[i].product+"</td>"+
                            "<td>"+contracts[i].amount+"</td>"+
                            "<td> <a href='"+contracts[i].url+"' class='btn btn-default'> <i class='fa fa-download'></i></a></td></tr>";
                }

            } else {
                html += "<tr><td>"+ contracts[i].number+"</td>"+
                        "<td>"+contracts[i].id+"</td>"+
                        "<td>"+contracts[i].year+"</td>"+
                        "<td>"+contracts[i].product+"</td>"+
                        "<td>"+contracts[i].amount+"</td>"+
                        "<td> <a href='"+contracts[i].url+"' class='btn btn-default'> <i class='fa fa-download'></i></a></td></tr>";
            }

        }

        html += "</tbody></table>";

        table.html(html);

    }

    var ctable = $('#ctable');

    $('#buscar').keyup(function () {
        searbykeyword($(this).val(), contracts, ctable);
    });

</script>

</body>
</html>