<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart'], 'language':'es'});
        google.charts.setOnLoadCallback(drawSeriesChart);

        function drawSeriesChart() {

            var data = google.visualization.arrayToDataTable([
                ['ID',                      'Fecha de firma',                    'Vigencia (meses)', 'Tipo',             'Monto MXN'],
                ['LO-009KDH999-N5-2014',     new Date('2015-01-02'),              6,      'Licitación',              39724276.56],
                ['SO-009KDH999-N24-2015',    new Date('2015-02-19'),              1,      'Adjudicación directa',   521999.84],
                ['SO-009KDH999-N23-2015',    new Date('2015-02-20'),               1,      'Adjudicación directa',   638000],
                ['SO-009KDH999-N26-2015',    new Date('2015-02-19'),              1,      'Adjudicación directa',   539400],
                ['IO-009KDH999-N11-2015',    new Date('2015-03-19'),              2,         'Invitación a 3',         9429941.46],
                ['IO-009KDH999-N10-2015',    new Date('2015-03-20'),              6,       'Invitación a 3',         2501985.67],
                ['LO-099KDH999-N20-2015',    new Date('2015-05-14'),              1,      'Licitación',             5844840.96],
                ['LO-099KDH999-T15-2015',    new Date('2015-05-29'),              3,      'Licitación',             13514000],
                ['LO-009KDH999-N46-2015',    new Date('2015-07-21'),              18,      'Licitación',            16684244.272],
                ['LO-009KDH999-N42-2015',    new Date('2015-07-21'),              18,      'Licitación',             13832891.6792],
                ['LO-009KDH999-N45-2015',    new Date('2015-07-21'),              18,      'Licitación',             21963669.4016],
                ['IO-009KDH999-N41-2015',    new Date('2015-07-29'),              2,      'Invitación a 3',         38949488.17],
                ['IO-009KDH999-N54-2015',    new Date('2015-08-28'),              3.5,      'Invitación a 3',         3812525.54],
                ['LO-009KDH999-N47-2015',    new Date('2015-09-10'),              7,      'Licitación',             129973731.2],
                ['LO-009KDH999-N50-2015',    new Date('2015-10-09'),              4,      'Licitación',             223329692.62],
                ['LO-009KDH999-T52-2015',    new Date('2015-10-23'),              48,      'Licitación',             158629469.03],
                ['LO-009KDH999-N79-2015',    new Date('2015-12-14'),              12,      'Licitación',             2044851759.9544],
                ['LO-009KDH999-N80-2015',    new Date('2015-12-31'),              13,      'Licitación',             705599669.9],
                ['LO-009KDH999-N78-2015',    new Date('2015-12-31'),              9,      'Licitación',             572943111],
                ['LO-009KDH999-N86-2015',    new Date('2015-12-31'),              12,      'Licitación',             11276263.6272],
                ['LO-009KDH999-N87-2015',    new Date('2015-12-31'),              12,      'Licitación',             13970275.444],
                ['AO-009KDH999-E26-2016',    new Date('2016-01-14'),              6,      'Adjudicación directa',   4286458.44],
                ['AO-009KDH999-E20-2016',    new Date('2016-01-21'),              6,      'Adjudicación directa',   8909803.13],
                ['IO-009KDH999-E15-2016',    new Date('2016-03-10'),              3,      'Invitación a 3',         12715541.31],
                ['IO-009KDH999-E96-2015',    new Date('2016-03-23'),              8,      'Invitación a 3',         91640000]
            ]);

            var options = {
                //title: 'Contrataciones en el tiempo',
                hAxis: {title: 'Fecha de firma'},
                vAxis: {title: 'Vigencia en meses'},
                bubble: {textStyle: {fontSize: 11}},
                series: {
                    'Licitación': {color: '#00cc99'},
                    'Invitación a 3': {color: '#ff4d4d'},
                    'Adjudicación directa': {color: 'purple'}
                }
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
            chart.draw(data, options);
        }
    </script>

</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>

<br>

<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align: center">GRUPO AEROPORTUARIO<br>
                        <small>de la Ciudad de México</small>
                    </h3>
                    <h3>25 <small>contratos</small></h3>
                    <h3>29 <small>contratistas</small></h3>
                    <h3>N <small>millones de pesos</small></h3>
                    <!--</div>
      </div>

        <div class="panel panel-default">
            <div class="panel-body">-->
                    <hr>
                    <h4 style="text-align: center">TIPOS DE CONTRATACIÓN</h4>
                    <div  style="height: 220px" id="chart4"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align: center">CONTRATACIONES EN EL TIEMPO</h3>
                    <div  style="height: 450px; align-content: center;" id="series_chart_div" ></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input id="buscar" type="text" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <br>

    <div id="ctable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Año</th>
                <th>Producto o servicio</th>
                <th>Monto</th>
                <th>Descarga</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>1</td>
                <td>LO-009KDH999-N5-2014</td>
                <td>2015</td>
                <td>SERVICIO DE EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DE TERRENO.</td>
                <td>$39724276.56</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>SO-009KDH999-N24-2015</td>
                <td>2015</td>
                <td>PLAN ACCIONES DE MONITOREO Y CONSERVACION DE AVES PARA EL NAICM.</td>
                <td>$521999.84</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>SO-009KDH999-N23-2015</td>
                <td>2015</td>
                <td>ELABORACION DEL PROGRAMA DE MONITOREO DE RUIDO PERIMETRAL PARA LAS ETAPAS DE PREPARACION DEL SITO, CONSTRUCCION, Y, OPERACIÓN Y MANTENIMIENTO DEL NAICM.</td>
                <td>$638000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>SO-009KDH999-N26-2015</td>
                <td>2015</td>
                <td>PLAN DE MONITOREO, REGISTRO Y VERIFICACION DE EMISION DE GASES DE EFECTO INVERNADERO PARA EL NAICM.</td>
                <td>$539400.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>IO-009KDH999-N11-2015</td>
                <td>2015</td>
                <td>CONSTRUCCION DE CAMINOS DE ACCESO A ZONA DEL EDIFICIO TERMINAL DE LA PRIMERA ETAPA, NECESARIOS PARA LA CARACTERIZACIÓN GEOTÉCNICA INICIAL.</td>
                <td>$9429941.46</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>IO-009KDH999-N10-2015</td>
                <td>2015</td>
                <td>SERVICIOS DE SUPERVISIÓN PARA LA OBRA: EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DEL TERRENO QUE OCUPAN DICHOS ELEMENTOS UBICADOS EN LA POLIGONAL PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$2501985.67</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>LO-099KDH999-N20-2015</td>
                <td>2015</td>
                <td>CONSTRUCCION DE CAMINOS DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA PARA LA PISTA NO 2 DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$5844840.96</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>LO-099KDH999-T15-2015</td>
                <td>2015</td>
                <td>ESTUDIO DE LAS CARACTERISTICAS TÉCNICAS DE INFRAESTRUCTURA Y DISEÑO ESQUEMATICO DE LA TERMINAL DE CARGA DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$13514000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>LO-009KDH999-N46-2015</td>
                <td>2015</td>
                <td>PLAN DE MONITOREO Y CONSERVACIÓN DE AVES DEL PROYECTO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$16684244.272</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>LO-009KDH999-N42-2015</td>
                <td>2015</td>
                <td>IMPLEMENTACIÓN DEL PROGRAMA  DE RESCATE DE FLORA Y FAUNA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$13832891.6792</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>LO-009KDH999-N45-2015</td>
                <td>2015</td>
                <td>IMPLEMENTACIÓN DEL PLAN DE RESTAURACIÓN ECOLÓGICA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$21963669.4016</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>IO-009KDH999-N41-2015</td>
                <td>2015</td>
                <td>LA ELABORACIÓN DEL ESTUDIO DE LAS CARACTERÍSTICAS TOPOGRÁFICAS DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM).</td>
                <td>$38949488.17</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>IO-009KDH999-N54-2015</td>
                <td>2015</td>
                <td>SUPERVISIÓN PARA: CONSTRUCCIÓN DEL PROYECTO INTEGRAL CONSISTENTE EN BARDA Y CAMINO PERIMETRAL, ALUMBRADO, SERVICIOS INDUCIDOS Y CASETAS DE ACCESO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (PRIMERA ETAPA).</td>
                <td>$3812525.54</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>14</td>
                <td>LO-009KDH999-N47-2015</td>
                <td>2015</td>
                <td>DESARROLLO DEL PROYECTO EJECUTIVO, CONSTRUCCIÓN, EQUIPAMIENTO DE MOBILARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$129973731.20</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>LO-009KDH999-N50-2015</td>
                <td>2015</td>
                <td>TRABAJOS RELATIVOS A LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO DE LA CIUDAD DE MÉXICO.</td>
                <td>$223329692.62</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>LO-009KDH999-T52-2015</td>
                <td>2015</td>
                <td>DISEÑAR E INSTRUMENTAR EL MODELO VIRTUAL  DE INFORMACIÓN PARA LA CONSTRUCCIÓN DEL BIM DEL NAICM.</td>
                <td>$158629469.03</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>17</td>
                <td>LO-009KDH999-N79-2015</td>
                <td>2015</td>
                <td>CONVOCATORIA DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$2044851759.9544</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>18</td>
                <td>LO-009KDH999-N80-2015</td>
                <td>2015</td>
                <td>CONVOCATORIA DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.</td>
                <td>$705599669.90</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>19</td>
                <td>LO-009KDH999-N78-2015</td>
                <td>2015</td>
                <td>CONVOCATORIA DE CARGA, ACARREO Y DESCARGA FUERA DEL POLIGONO DEL MATERIAL EXISTENTE PRODUCTO DE DEPOSITOS DE DEMOLICIONES, DESPERDICIOS Y DESAZOLVE.</td>
                <td>$572943111.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>20</td>
                <td>LO-009KDH999-N86-2015</td>
                <td>2015</td>
                <td>SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$11276263.6272</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>21</td>
                <td>LO-009KDH999-N87-2015</td>
                <td>2015</td>
                <td>SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.</td>
                <td>$13970275.444</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>22</td>
                <td>AO-009KDH999-E26-2016</td>
                <td>2016</td>
                <td>SUPERVISIÓN DEL PROYECTO EJECUTIVO, CONTRUCCIÓN, EQUIPAMENTO, MOBILIARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$4286458.44</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>AO-009KDH999-E20-2016</td>
                <td>2016</td>
                <td>SUPERVISIÓN DE LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$8909803.13</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>24</td>
                <td>IO-009KDH999-E15-2016</td>
                <td>2016</td>
                <td>CONSTRUCCIÓN DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA, REHABILITACIÓN DE TRAMOS DE PRUEBA Y BACHEO SOMERO DE CAMINOS EXISTENTES DENTRO DEL TERRENO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$12715541.31</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>25</td>
                <td>IO-009KDH999-E96-2015</td>
                <td>2016</td>
                <td>INTEGRACIÓN DE LA ESTRATEGIA GLOBAL Y MODELO DE NEGOCIOS PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.</td>
                <td>$91640000.00</td>
                <td><a href="" class="btn btn-default"><i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jqplot/jquery.jqplot.js"></script>
<script src="/bower_components/jqplot/plugins/jqplot.donutRenderer.js"></script>
<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.highlighter.js"></script>
<link rel="stylesheet" type="text/css" href="/bower_components/jqplot/jquery.jqplot.css" />
<script>

    $(document).ready(function(){
        var data = [
            ['Licitaciones', 14],['Invitaciones a 3', 6], ['Adjudicaciones directas', 5]
        ];

        var plot4 = $.jqplot('chart4', [data], {
            //title: 'TIPOS DE CONTRATACION',
            seriesDefaults: {
                // make this a donut chart.
                renderer:$.jqplot.DonutRenderer,
                rendererOptions:{
                    // Donut's can be cut into slices like pies.
                    sliceMargin: 3,
                    // Pies and donuts can start at any arbitrary angle.
                    startAngle: -90,
                    showDataLabels: true,
                    // By default, data labels show the percentage of the donut/pie.
                    // You can show the data 'value' or data 'label' instead.
                    //dataLabels: 'value',
                    // "totalLabel=true" uses the centre of the donut for the total amount
                    totalLabel: true
                },
                seriesColors: ['#00cc99', '#ff4d4d', 'purple']
            },
            grid: {
                drawBorder: false,
                drawGridLines: true,        // wether to draw lines across the grid or not.
                shadow: false,
                backgroundColor: 'rgb(255, 255, 255)'
            },
            highlighter: {
                show: true,
                useAxesFormatters: false,
                dataLabels: 'value',
                tooltipFormatString: '%s'
            }
        });
    });

    var contracts = [
        {
            number : '1',
            id: 'LO-009KDH999-N5-2014',
            year: '2015',
            product : 'SERVICIO DE EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DE TERRENO.',
            amount: '$39724276.56',
            url : ''
        },
        {
            number : '2',
            id: 'SO-009KDH999-N24-2015',
            year: '2015',
            product : 'PLAN ACCIONES DE MONITOREO Y CONSERVACION DE AVES PARA EL NAICM.',
            amount: '$521999.84',
            url : ''
        },
        {
            number : '3',
            id: 'SO-009KDH999-N23-2015',
            year: '2015',
            product : 'ELABORACION DEL PROGRAMA DE MONITOREO DE RUIDO PERIMETRAL PARA LAS ETAPAS DE PREPARACION DEL SITO, CONSTRUCCION, Y, OPERACIÓN Y MANTENIMIENTO DEL NAICM.',
            amount: '$638000.00',
            url : ''
        },
        {
            number : '4',
            id: 'SO-009KDH999-N26-2015',
            year: '2015',
            product : 'PLAN DE MONITOREO, REGISTRO Y VERIFICACION DE EMISION DE GASES DE EFECTO INVERNADERO PARA EL NAICM.',
            amount: '$539400.00',
            url : ''
        },
        {
            number : '5',
            id: 'IO-009KDH999-N11-2015',
            year: '2015',
            product : 'CONSTRUCCION DE CAMINOS DE ACCESO A ZONA DEL EDIFICIO TERMINAL DE LA PRIMERA ETAPA, NECESARIOS PARA LA CARACTERIZACIÓN GEOTÉCNICA INICIAL.',
            amount: '$9429941.46',
            url : ''
        },
        {
            number : '6',
            id: 'IO-009KDH999-N10-2015',
            year: '2015',
            product : 'SERVICIOS DE SUPERVISIÓN PARA LA OBRA: EXTRACCIÓN DE ADEMES Y RESTITUCIÓN DEL TERRENO QUE OCUPAN DICHOS ELEMENTOS UBICADOS EN LA POLIGONAL PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$2501985.67',
            url : ''
        },
        {
            number : '7',
            id: 'LO-099KDH999-N20-2015',
            year: '2015',
            product : 'CONSTRUCCION DE CAMINOS DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA PARA LA PISTA NO 2 DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$5844840.96',
            url : ''
        },
        {
            number : '8',
            id: 'LO-099KDH999-T15-2015',
            year: '2015',
            product : 'ESTUDIO DE LAS CARACTERISTICAS TÉCNICAS DE INFRAESTRUCTURA Y DISEÑO ESQUEMATICO DE LA TERMINAL DE CARGA DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$13514000.00',
            url : ''
        },
        {
            number : '9',
            id: 'LO-009KDH999-N46-2015',
            year: '2015',
            product : 'PLAN DE MONITOREO Y CONSERVACIÓN DE AVES DEL PROYECTO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$16684244.272',
            url : ''
        },
        {
            number : '10',
            id: 'LO-009KDH999-N42-2015',
            year: '2015',
            product : 'IMPLEMENTACIÓN DEL PROGRAMA  DE RESCATE DE FLORA Y FAUNA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$13832891.6792',
            url : ''
        },
        {
            number : '11',
            id: 'LO-009KDH999-N45-2015',
            year: '2015',
            product : 'IMPLEMENTACIÓN DEL PLAN DE RESTAURACIÓN ECOLÓGICA PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$21963669.4016',
            url : ''
        },
        {
            number : '12',
            id: 'IO-009KDH999-N41-2015',
            year: '2015',
            product : 'LA ELABORACIÓN DEL ESTUDIO DE LAS CARACTERÍSTICAS TOPOGRÁFICAS DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM).',
            amount: '$38949488.17',
            url : ''
        },
        {
            number : '13',
            id: 'IO-009KDH999-N54-2015',
            year: '2015',
            product : 'SUPERVISIÓN PARA: CONSTRUCCIÓN DEL PROYECTO INTEGRAL CONSISTENTE EN BARDA Y CAMINO PERIMETRAL, ALUMBRADO, SERVICIOS INDUCIDOS Y CASETAS DE ACCESO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (PRIMERA ETAPA).',
            amount: '$3812525.54',
            url : ''
        },
        {
            number : '14',
            id: 'LO-009KDH999-N47-2015',
            year: '2015',
            product : 'DESARROLLO DEL PROYECTO EJECUTIVO, CONSTRUCCIÓN, EQUIPAMIENTO DE MOBILARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$129973731.20',
            url : ''
        },
        {
            number : '15',
            id: 'LO-009KDH999-N50-2015',
            year: '2015',
            product : 'TRABAJOS RELATIVOS A LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO DE LA CIUDAD DE MÉXICO.',
            amount: '$223329692.62',
            url : ''
        },
        {
            number : '16',
            id: 'LO-009KDH999-T52-2015',
            year: '2015',
            product : 'DISEÑAR E INSTRUMENTAR EL MODELO VIRTUAL  DE INFORMACIÓN PARA LA CONSTRUCCIÓN DEL BIM DEL NAICM.',
            amount: '$158629469.03',
            url : ''
        },
        {
            number : '17',
            id: 'LO-009KDH999-N79-2015',
            year: '2015',
            product : 'CONVOCATORIA DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$2044851759.9544',
            url : ''
        },
        {
            number : '18',
            id: 'LO-009KDH999-N80-2015',
            year: '2015',
            product : 'CONVOCATORIA DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.',
            amount: '$705599669.90',
            url : ''
        },
        {
            number : '19',
            id: 'LO-009KDH999-N78-2015',
            year: '2015',
            product : 'CONVOCATORIA DE CARGA, ACARREO Y DESCARGA FUERA DEL POLIGONO DEL MATERIAL EXISTENTE PRODUCTO DE DEPOSITOS DE DEMOLICIONES, DESPERDICIOS Y DESAZOLVE.',
            amount: '$572943111.00',
            url : ''
        },
        {
            number : '20',
            id: 'LO-009KDH999-N86-2015',
            year: '2015',
            product : 'SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE NIVELACIÓN Y LIMPIEZA DEL TERRENO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$11276263.6272',
            url : ''
        },
        {
            number : '21',
            id: 'LO-009KDH999-N87-2015',
            year: '2015',
            product : 'SUPERVISIÓN TÉCNICA, ADMINISTRATIVA Y DE CONTROL DE CALIDAD PARA LOS TRABAJOS DE CONSTRUCCIÓN DE LOS CAMINOS PROVISIONALES DE ACCESO AL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO (NAICM) EJECUTANDO TRABAJOS DE TERRACERIA, ESTRUCTURAS Y OBRAS DE DRENAJE, PAVIMENTACIÓN Y SEÑALAMIENTO.',
            amount: '$13970275.444',
            url : ''
        },
        {
            number : '22',
            id: 'AO-009KDH999-E26-2016',
            year: '2016',
            product : 'SUPERVISIÓN DEL PROYECTO EJECUTIVO, CONTRUCCIÓN, EQUIPAMENTO, MOBILIARIO E INSTALACIONES COMPLEMENTARIAS PARA EL CAMPAMENTO DEL GRUPO AEROPORTUARIO DE LA CIUDAD DE MÉXICO EN EL SITIO DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$4286458.44',
            url : ''
        },
        {
            number : '23',
            id: 'AO-009KDH999-E20-2016',
            year: '2016',
            product : 'SUPERVISIÓN DE LA CONSTRUCCIÓN DEL DRENAJE PLUVIAL TEMPORAL DEL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$8909803.13',
            url : ''
        },
        {
            number : '24',
            id: 'IO-009KDH999-E15-2016',
            year: '2016',
            product : 'CONSTRUCCIÓN DE ACCESOS Y PLATAFORMAS PARA EXPLORACIÓN GEOTÉCNICA, REHABILITACIÓN DE TRAMOS DE PRUEBA Y BACHEO SOMERO DE CAMINOS EXISTENTES DENTRO DEL TERRENO PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$12715541.31',
            url : ''
        },
        {
            number : '25',
            id: 'IO-009KDH999-E96-2015',
            year: '2016',
            product : 'INTEGRACIÓN DE LA ESTRATEGIA GLOBAL Y MODELO DE NEGOCIOS PARA EL NUEVO AEROPUERTO INTERNACIONAL DE LA CIUDAD DE MÉXICO.',
            amount: '$91640000.00',
            url : ''
        }
    ];



    function searbykeyword ( keyword, contracts, table ){

        var html = "<table class='table table-striped'>"+
                "<thead>"+
                "<tr>"+
                "<th>#</th><th>Contrato</th><th>Año</th><th>Producto o servicio</th><th>Monto</th><th>Descarga</th>"+
                "</tr>"+
                "</thead>"+
                "<tbody>";

        for (var i =0; i < contracts.length; i++){

            if ( keyword != '' ){

                if ( contracts[i].id.toUpperCase().indexOf(keyword.toUpperCase()) != -1 || contracts[i].product.toUpperCase().indexOf(keyword.toUpperCase()) != -1 ) {
                    html += "<tr><td>"+ contracts[i].number+"</td>"+
                            "<td>"+contracts[i].id+"</td>"+
                            "<td>"+contracts[i].year+"</td>"+
                            "<td>"+contracts[i].product+"</td>"+
                            "<td>"+contracts[i].amount+"</td>"+
                            "<td> <a href='"+contracts[i].url+"' class='btn btn-default'> <i class='fa fa-download'></i></a></td></tr>";
                }

            } else {
                html += "<tr><td>"+ contracts[i].number+"</td>"+
                        "<td>"+contracts[i].id+"</td>"+
                        "<td>"+contracts[i].year+"</td>"+
                        "<td>"+contracts[i].product+"</td>"+
                        "<td>"+contracts[i].amount+"</td>"+
                        "<td> <a href='"+contracts[i].url+"' class='btn btn-default'> <i class='fa fa-download'></i></a></td></tr>";
            }

        }

        html += "</tbody></table>";

        table.html(html);

    }

    var ctable = $('#ctable');

    $('#buscar').keyup(function () {
        searbykeyword($(this).val(), contracts, ctable);
    });

</script>
</body>
</html>