<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
<head>
    <!-- Bootstrap core CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link rel='stylesheet' href='static/stylesheets/main.css'>
    <link rel="stylesheet" href="static/stylesheets/dashboard.css">
    <link rel="import" href="static/bower_components/polymer/polymer.html">
    <link rel="import" href="static/bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="static/bower_components/dgm-footer/dgm-footer.html">
    <link rel="stylesheet" href="static/bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.css">



    <title><%= title %></title>
</head>
<body>
<dgm-navbar></dgm-navbar>
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/puertosabiertos"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="/puertosabiertos" style="text-transform: none">puertosabiertos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bgimg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Contrataciones Abiertas</p>
                <h2>NUEVO PUERTO DE VERACRUZ <span>PUERTOS Y MARINA MERCANTE</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 widget">
                <h5>INVERSIÓN ESTIMADA</h5>
                <p class="stat"> $31,000,000,000 M.N. </p>
            </div>


            <div class="col-sm-4 widget">
                <h5>GENERACIÓN DE EMPLEOS DIRECTOS E INDIRECTOS</h5>
                <p class="stat"> +140,000</p>
            </div>

            <div class="col-sm-4 widget">
               <!-- <h5>PERIODO DE LA PRIMERA ETAPA</h5> -->
                <h5>NUEVAS TERMINALES 1ER ETAPA</h5>
                <p class="stat"> 5</p>
            </div>

        </div>
    </div>
</div>


<div class="container statistics">

    <h1>Proyecto</h1>


    <p>
        El Nuevo Puerto de Veracruz es el proyecto de infraestructura portuaria más importante de los últimos 100 años. Su construcción generará más de 140, 000 empleos directos e indirectos con una inversión estimada en $31 mil millones de pesos, gran parte con inversión privada lo que es una prueba de la confianza de los inversionistas. Con estas obras, el puerto cuadriplicará  en la última etapa, su capacidad instalada pasando de 22 a 90 millones de toneladas, convirtiendo a Veracruz en el Puerto más importante de México.
    </p>

    <p>
        El proyecto considera en su primera etapa la operación de 5 terminales que incluyen fluidos, multipropósito, contenedores, granel agrícola y granel mineral.  Los concursos públicos que inician en el 2016, serán asignados en el 2017 e iniciarán operación en el 2018.
    </p>
    <p>
        Asimismo, el Gobierno de la República construye parte de la infraestructura básica como el rompeolas poniente, nuevas explanadas para carga, vialidades para autotransporte y vías de ferrocarril para la operación eficiente de las nuevas terminales.
    </p>
    <p>
        Con el Nuevo Puerto de Veracruz, México fomenta su liderazgo en la cadena logística mundial, mediante la construcción de infraestructura moderna para la comercialización eficiente de productos nacionales e internacionales, con lo que México generará nuevas y mejores fuentes de empleo.
    </p>
    <p>
        Nuevo Puerto de Veracruz.
    </p>



    <!--
    <p>
        El Nuevo Puerto de Veracruz es el proyecto de infraestructura portuaria más importante en los últimos 100 años en México. El proyecto se construirá en terrenos ganados al mar considerando los procedimientos constructivos de los más altos estándares a nivel mundial, cuadriplicando la capacidad de carga comercial de 23 a 95 millones de toneladas, convirtiendo a Veracruz en el Puerto más importante de México.
    </p>
    <p>
        Los concursos públicos que iniciarán en el 2016 se verán consumados con la llegada del primer buque al Nuevo Puerto de Veracruz en el año 2018.  El proyecto considera en su primera etapa la operación de 5 terminales que incluyen terminal para fluidos, terminal multipropósito, terminal de contenedores, terminal de granel agrícola y terminal de granel mineral.
    </p>
    <p>
        Asimismo, el Gobierno de la República a través de la Administración Portuaria Integral de Veracruz, construye el rompeolas poniente, las nuevas explanadas para carga y los muelles para atraque de buques de nueva generación; además de dotar de vialidades para autotransporte y vías de ferrocarril para la operación eficiente de las nuevas terminales.
    </p>
    -->


    <h1>Cronograma APIVER</h1>
    <p>Conoce las fechas clave del proceso, su descripción, documentos y ligas de relevancia.</p>

<p>
    <strong>Actividades</strong>

    </p>

    <!--
<div class="panel panel-default">

    <div class="panel-body" style="border-bottom-width: 10px">
    -->

    <div class="row actividades">


        <div class="col-xs-5 "> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left" style="margin-left: -15px; margin-bottom: 0px;">

                <li class="actividades2 active"><a style="margin-left: 0px;" href="#e1" data-toggle="tab"><strong>Etapa 1</strong> &mdash; 22 de diciembre de 2016</a></li>


                <li class="actividades2"><a style="margin-left: 0px;" href="#e2" data-toggle="tab"><strong>Etapa 2</strong> &mdash; 22 de diciembre de 2016 al 18 de enero de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e3" data-toggle="tab"><strong>Etapa 3</strong> &mdash; 19 al 31 de enero 2017</a></li>

                <li class="actividades2"><a style="margin-left: 0px;" href="#e4" data-toggle="tab"><strong>Etapa 4</strong> &mdash; Entrega de instructivo de COFECE </a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e5" data-toggle="tab"><strong>Etapa 5</strong> &mdash; 9 y 10 de febrero de 2017</a></li>

                <li class="actividades2"><a style="margin-left: 0px;" href="#e6" data-toggle="tab"><strong>Etapa 6</strong> &mdash; 16 y 17 de febrero de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e7" data-toggle="tab"><strong>Etapa 7</strong> &mdash; 24 de febrero de 2017</a></li>

                <li class="actividades2"><a style="margin-left: 0px;" href="#e8" data-toggle="tab"><strong>Etapa 8</strong> &mdash; 1 y 2 de marzo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e9" data-toggle="tab"><strong>Etapa 9</strong> &mdash; 15 y 16 de marzo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e10" data-toggle="tab"><strong>Etapa 10</strong> &mdash; 27 y 28 de marzo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e11" data-toggle="tab"><strong>Etapa 11</strong> &mdash; 17 y 18 de abril de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e12" data-toggle="tab"><strong>Etapa 12</strong> &mdash; 15 de marzo al 24 de abril de 2017</a></li>

                <li class="actividades2"><a style="margin-left: 0px;" href="#e13" data-toggle="tab"><strong>Etapa 13</strong> &mdash; Opinión de COFECE </a></li>

                <li class="actividades2"><a style="margin-left: 0px;" href="#e14" data-toggle="tab"><strong>Etapa 14</strong> &mdash; 8 al 11 de mayo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e15" data-toggle="tab"><strong>Etapa 15</strong> &mdash; 25 y 26 de mayo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e16" data-toggle="tab"><strong>Etapa 16</strong> &mdash; 31 de mayo de 2017</a></li>
                <li class="actividades2"><a style="margin-left: 0px;" href="#e17" data-toggle="tab"><strong>Etapa 17</strong> &mdash; Formalización del contrato</a></li>
                <li class="actividades3"><a style="margin-left: 0px;" href="#e18" data-toggle="tab"><strong>Etapa 18</strong> &mdash; Acto de entrega recepción del ÁREA POR CEDER</a></li>
            </ul>
        </div>

        <div class="col-xs-7">
            <!-- Tab panes -->
            <div class="tab-content">


                <div class="tab-pane active" id="e1">
                    <p class="titulo">Publicación de la CONVOCATORIA</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        Se publican los términos mediante los cuales los interesados conocerán los alcances de los cuatro concursos públicos para ofrecer, por medio de particulares, servicios para el manejo de mercancías de comercio exterior y las condiciones para adjudicar un contrato de cesión parcial de derechos por cada tipo de terminal.
                    </p>
                    <!--
                    <p><b>La convocatoria se encuentra en revisión por parte de la Comisión Federal de Competencia Económica.</b></p>-->
                </div>




                <div class="tab-pane" id="e2">
                    <p class="titulo">Venta a interesados de las BASES del CONCURSO y entrega del PLIEGO DE REQUISITOS</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        Periodo mediante el cual estarán a la venta para los interesados las bases de los concursos públicos para las cuatro terminales en el NPV.
                    </p>
                    <!--
                    <p><b>Las bases se encuentran en revisión por parte de la Comisión Federal de Competencia Económica</b></p>-->
                </div>

                <div class="tab-pane" id="e3">
                    <p class="titulo">Visita al ÁREA POR CEDER</p>
                    <p>DESCRIPCIÓN</p>
                    <p>Visita de los INTERESADOS al ÁREA POR CEDER</p>
                </div>

                <div class="tab-pane" id="e4">
                    <p class="titulo">Entrega del instructivo de COFECE a los interesados  </p>
                    <p>DESCRIPCIÓN</p>
                    <p>Solicitud de opinión a la COFECE de INTERESADOS sobre su participación en el o los CONCURSOS. </p>
                </div>


                <div class="tab-pane" id="e5">
                    <p class="titulo">Entrega a la API de PLIEGOS DE REQUISITOS</p>
                    <p>DESCRIPCIÓN</p>
                    <p>Interesados entregan a la API lo solicitado en el PLIEGO DE REQUISITOS</p>
                </div>


                <div class="tab-pane" id="e6">
                    <p class="titulo">Período para requerimiento de documentación o información faltante del PLIEGO DE REQUISITOS</p>
                    <p>DESCRIPCIÓN</p>
                    <p>Periodo para que API requiera documentación o información faltante del PLIEGO DE REQUISITOS</p>
                </div>
                <div class="tab-pane" id="e7">
                    <p class="titulo">Entrega de documentación o información faltante del PLIEGO DE REQUISITOS</p>

                    <p>DESCRIPCIÓN</p>
                    <p>INTERESADOS entregan documentación o información faltante del PLIEGO DE REQUISITOS</p>
                </div>
                <div class="tab-pane" id="e8">
                    <p class="titulo">Entrega de CONSTANCIAS DE CALIFICACIÓN</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        API entrega las CONSTANCIAS DE CALIFICACIÓN.
                    </p>
                </div>
                <div class="tab-pane" id="e9">
                    <p class="titulo">
                        Constitución de la GARANTÍA DE SERIEDAD PROCEDIMENTAL e inscripción de PARTICIPANTES y entrega del PROSPECTO DESCRIPTIVO, de los modelos de proposiciones y de los modelos del CONTRATO y del contrato para operación o servicios por terceros.
                    </p>
                    <!--
                    <p>DESCRIPCIÓN</p>
                    <p>
                        Es la etapa donde quedan inscritos los participantes entregando la Garantia de seriedad procedimental de participación en los concursos públicos, y se entrega a los participantes inscritos los documentos técnicos completos anexos a las bases.
                    </p>
                    -->
                </div>

                <div class="tab-pane" id="e10">
                    <p class="titulo">
                        Recepción de preguntas y solicitudes de aclaración a documentos de concurso.
                    </p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        <!--Son las fechas en que se recibirán las preguntas de los participantes relativas a los concursos públicos de las cuatro terminales del NPV.-->
                        Concurso 1: 27 de marzo a las 10:00 hrs.<br>
                        Concurso 2: 27 de marzo a las 16:00 hrs.<br>
                        Concurso 3: 28 de marzo a las 10:00 hrs.<br>
                        Concurso 4: 28 de marzo a las 16:00 hrs.
                    </p>
                </div>

                <div class="tab-pane" id="e11">
                    <p class="titulo">
                        Entrega de respuestas y del modelo definitivo del CONTRATO.
                    </p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        <!--
                        En este periodo la Administración Portuaria Integral de Veracruz entregará respuestas a las preguntas entregadas por los participantes, y entregará el modelo de contrato definitivo y en su caso las últimas modificaciones a las bases, para las cuatro cesiones parciales de derechos en concurso.
                        -->

                        Concurso 1: 17 de abril a las 10:00 hrs. <br>
                        Concurso 2: 17 de abril a las 16:00 hrs. <br>
                        Concurso 3: 18 de abril a las 10:00 hrs. <br>
                        Concurso 4: 18 de abril a las 16:00 hrs.
                    </p>
                </div>

                <div class="tab-pane" id="e12">
                    <p class="titulo">Reunión de PARTICIPANTES con el Titular del Órgano Interno de Control en la API
                    </p>
                    <p>DESCRIPCIÓN</p>
                    <p>

                        Los PARTICIPANTES podrán solicitar una reunión con el Titular del Órgano Interno de Control del API para presentar posibles inconformidaddes en el proceso licitatorio.
                        <!--
                        Esta etapa se desarrolla para que los participantes expresen al Titular del Órgano Interno de Control en la Administración Portuaria Integral de Veracruz, alguna duda o controversia respecto a lo relativo a los concursos públicos de las cuatro terminales en el NPV.
                        -->
                    </p>
                </div>


                <div class="tab-pane" id="e13">
                    <p class="titulo">Opinión de COFECE</p>
                </div>

                <div class="tab-pane" id="e14">
                    <p class="titulo">Acto de presentación de proposiciones y apertura de las propuestas técnicas.
                    </p>

                    <p>DESCRIPCIÓN</p>
                    <p>
                        Las proposiciones deberán acompañar la opinión favorable de COFECE, lo que se tramita por separado.</p>
                    <p>

                        Concurso 1: 8 de mayo a las 10:00 hrs.<br>
                        Concurso 2: 9 de mayo a las 10:00 hrs.<br>
                        Concurso 3: 10 de mayo a las 10:00 hrs.<br>
                        Concurso 4: 11 de mayo a las 10:00 hrs. <br>
                        <!--
                        En esta etapa los participantes presentarán sus propuestas técnicas y económicas, realizándose la apertura de la totalidad de las propuestas técnicas para su posterior análisis.
                        -->
                    </p>
                </div>


                <div class="tab-pane" id="e15">
                    <p class="titulo">Lectura pública de la evaluación de propuestas técnicas y apertura de las propuestas económicas</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        <!--
                        Es el acto mediante el cual la Administración Portuaria Integral de Veracruz da a conocer en junta pública los ganadores de los concursos públicos para las cuatro terminales del NPV. En caso de no existir ganadores es en este acto que se declara desierto el concurso.
                        -->

                        Concurso 1: 25 de mayo a las 10:00 hrs.<br>
                        Concurso 2: 25 de mayo a las 16:00 hrs. <br>
                        Concurso 3: 26 de mayo a las 10:00 hrs. <br>
                        Concurso 4: 26 de mayo a las 16:00 hrs.
                    </p>
                </div>

                <div class="tab-pane" id="e16">
                    <p class="titulo">Acto de fallo</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        Concurso 1: El 31 de mayo de 2017 a las 10:00 horas<br>
                        Concurso 2: El 31 de mayo de 2017 a las 12:00 horas<br>
                        Concurso 3: El 31 de mayo de 2017 a las 16:00 horas<br>
                        Concurso 4: El 31 de mayo de 2017 a las 18:00 horas
                    </p>

                </div>

                <div class="tab-pane" id="e17">
                    <p class="titulo">Formalización del CONTRATO</p>
                    <p>DESCRIPCIÓN</p>
                    <p>
                        Concurso 1: A más tardar el 30 de junio de 2017<br>
                        Concurso 2: A más tardar el 30 de junio de 2017<br>
                        Concurso 3: A más tardar el 30 de junio de 2017<br>
                        Concurso 4: A más tardar el 30 de junio de 2017

                    </p>

                </div>

                <div class="tab-pane" id="e18">
                    <p class="titulo">Acto de entrega recepción del ÁREA POR CEDER</p>
                    <p>DESCRIPCIÓN</p>
                    <p>Conforme a bases</p>

                </div>
            </div>
        </div>
    </div>


    <h1 id="lista">Contratos</h1>
    <p>
        Aquí podrás visualizar y descargar datos accesibles, comparables y oportunos sobre las etapas de planeación, licitación, adjudicación, contratación e implementación de los contratos para el Nuevo Puerto de Veracruz.
    </p>
    <p>
        La publicación de estos datos iniciará con la Apertura del proceso de Licitación, y se continuarán publicando conforme se generen durante el proceso del proyecto.
    </p>
</div>

<div class="container stages">
    <div class="row">
        <div class="col-md-12">
            <h1>Etapas del proceso de contrataciones abiertas</h1>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis pretium quam et tristique. Nulla eget posuere metus, ut porta eros. Donec sed nisi dui. Quisque finibus commodo neque, vitae aliquam sapien blandit et. Sed massa est, auctor non dolor eu, posuere pretium erat.</p>-->
            <div class="row">
                <div class="col-sm-4 stages-widget">
                    <img src="static/images/ic-planeacion.png" alt="Planeaciñon">
                    <div class="content">
                        <p class="title">1. Planeación</p>
                        <p>Encuentra datos sobre el presupuesto, fundamento y descripción general del proyecto; así como sus documentos, estudios y evaluaciones preparatorios relevantes.</p>
                    </div>
                </div>
                <div class="col-sm-4 stages-widget">
                    <img src="static/images/ic-licitacion.png" alt="Planeaciñon">
                    <div class="content">
                        <p class="title">2. Licitación</p>
                        <p>Encuentra datos sobre el proceso de adjudicación del proyecto, como tipo de procedimiento, valor, método y criterios de adjudicación y aclaraciones, fechas relevantes y datos del testigo social, participantes, hitos del procedimiento y modificaciones al mismo.</p>
                    </div>
                </div>
                <div class="col-sm-4 stages-widget">
                    <img src="static/images/ic-adjudicacion.png" alt="Planeaciñon">
                    <div class="content">
                        <p class="title">3. Adjudicación</p>
                        <p>Encuentra datos sobre el proveedor asignado para el proyecto, el proceso de adjudicación, sus documentos, inconformidades y modificaciones.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 stages-widget">
                    <img src="static/images/ic-contratacion.png" alt="Planeaciñon">
                    <div class="content">
                        <p class="title">4. Contratación</p>
                        <p>Encuentra datos sobre la firma del contrato donde se establecen las particularidades del bien o servicio, periodos de pago, entrega y sus documentos principales.</p>
                    </div>
                </div>
                <div class="col-sm-4 stages-widget">
                    <img src="static/images/ic-implementacion.png" alt="Planeaciñon">
                    <div class="content">
                        <p class="title">5. Implementación</p>
                        <p>Encuentra datos sobre la ejecución del proyecto, como las fechas y pagos correspondientes por el bien o servicio, hitos del proyecto y evidencia de la ejecución</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="methodology">
    <div class="container">
        <div class="col-md-12" style="padding-top: 25px">
            <button  id="ocds" class="btn btn-primary">Conoce la metodología</button>
        </div>
    </div>
</div>


<div class="container statistics">
    <div class="row">
        <div class="col-md-12">
            <h1>Datos</h1>
            <div class="data-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <!--<th width="50%">Institución</th>-->
                        <th width="30%">Institución</th>
                        <th width="30%">Formato</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="api">

                        <td>Puertos Abiertos</td>
                        <td>Administración Portuaria Integral</td>
                        <td>
                            <span class="label" data-format="csv">CSV</span>
                            <span class="label" data-format="xlsx">XLS</span>
                            <span class="label" data-format="pdf">PDF</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<dgm-footer></dgm-footer>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

<script src="static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>


<script>
    $('#api').click(function () {
        window.location.href= "http://datos.gob.mx/busca/dataset?groups=puertos-abiertos";
    });

    $('#ocds').click(function () {
        window.open('http://standard.open-contracting.org/latest/es/getting_started/');
    });

    (function () {
        $( '.bootstrap-select' ).selectpicker();
    })();
</script>
</body>
</html>
