<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />-->
    <title>Contrataciones Abiertas</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <!--<link rel='stylesheet' href='/stylesheets/buttons.css'/>-->

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">

</head>


<body>
<dgm-navbar></dgm-navbar>
<section id="banner">
    <div class="container-fluid fixed">
        <p>Grupo Aeroportuario de la Ciudad de México</p>
    </div>
</section>

<section id="highlights">
    <div class="content">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-xs-12'><h3 class="jumbo-title">Estándar de Contrataciones Abiertas</h3></div>
            </div>
            <div class="row">
                <div class='col-xs-12'><p>Visualiza y descarga los Datos Abiertos de las etapas de planeación y concurso de la Red Compartida. Durante el desarrollo del proyecto, trabajaremos junto con la Alianza para las Contrataciones Abiertas para continuar publicando datos accesibles, comparables y oportunos sobre las siguientes etapas de adjudicación, contratación e implementación, conforme estos se generen. Este proyecto es parte de un piloto para adaptar el Estándar de Datos para Contrataciones Abiertas a un modelo de alianza público privado.</p></div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="panel panel-default">

        <!-- Aquí -->

    </div>
</div>

<dgm-footer></dgm-footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/dgm-footer/dgm-footer.html">
</body>
</html>