<h1> Cronograma COFECE </h1>


<p> Por su parte, los interesados en participar en los concursos deberán de cumplir en la COFECE con el siguiente calendario determinado por dicha comisión:</p>




<div class="row actividades">

    <div class="col-xs-5 "> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left" style="margin-left: -15px; margin-bottom: 0px;">
            <li class="actividades2 active"><a style="margin-left: 0px;" href="#cofece1" data-toggle="tab"><strong>Etapa 1</strong> &mdash; Entre el 9 y 13 de enero de 2017</a></li>
            <li class="actividades2"><a style="margin-left: 0px;" href="#cofece2" data-toggle="tab"><strong>Etapa 2</strong> &mdash; Entre el 13 y 19 de enero de 2017</a></li>
            <li class="actividades2"><a style="margin-left: 0px;" href="#cofece3" data-toggle="tab"><strong>Etapa 3</strong> &mdash; Hasta el 23 de febrero de 2017</a></li>
            <li class="actividades2"><a style="margin-left: 0px;" href="#cofece4" data-toggle="tab"><strong>Etapa 4</strong> &mdash; Hasta el 9 de marzo de 2017</a></li>
            <li class="actividades2"><a style="margin-left: 0px;" href="#cofece5" data-toggle="tab"><strong>Etapa 5</strong> &mdash; Hasta el 24 de marzo de 2017</a></li>
            <li class="actividades3"><a style="margin-left: 0px;" href="#cofece6" data-toggle="tab"><strong>Etapa 6</strong> &mdash; Hasta el 4 de mayo de 2017</a></li>
        </ul>
    </div>

    <div class="col-xs-7">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="cofece1">
                <!--<p class="titulo">Aviso de PRE-REGISTRO</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    COFECE entrega a API Veracruz el instructivo que deberá ser entregado a los INTERESADOS.
                </p>

            </div>
            <div class="tab-pane" id="cofece2">
                <!--<p class="titulo">Publicación de la CONVOCATORIA</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    API Veracruz entrega el instructuvo de COFECE a los INTERESADOS.
                </p>
            </div>


            <div class="tab-pane" id="cofece3">
                <!--<p class="titulo">...</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    Los interesados deberán solicitar su opinión a la COFECE sobre su participación en el o los CONCURSOS.
                </p>

            </div>


            <div class="tab-pane" id="cofece4">
                <!--<p class="titulo">Venta a interesados de las BASES del CONCURSO y entrega del PLIEGO DE REQUISITOS</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    COFECE emite acuerdo de recepción de la información de los interesados, en un plazo de 10 días hábiles.
                    <!--, se incluye
                    como ANEXO 5 (Art. 98 de la Ley Federal de Competencia Económica).-->
                </p>

            </div>
            <div class="tab-pane" id="cofece5">
                <!--<p class="titulo">Visita al ÁREA POR CEDER</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    COFECE solicita información faltante a los interesados, en un plazo de 10 días hábiles.
                    <!--, se incluye como ANEXO 5 (Art. 98 de la Ley Federal de Competencia Económica).-->
                </p>

            </div>
            <div class="tab-pane" id="cofece6">
                <!--<p class="titulo">Solicitud de opinión a la COFECE de INTERESADOS sobre su participación en el o los CONCURSOS</p>-->
                <p>DESCRIPCIÓN</p>
                <p>
                    COFECE emite acuerdo de opinión directamente a los PARTICIPANTES, en un plazo de 30 días hábiles.
                    <!--, se incluye como ANEXO 5 (Art. 98 de la Ley Federal de Competencia Económica).-->
                </p>
                <p>Este documento deberá acompañarse con las proposiciones de los participantes</p>
            </div>
        </div>
    </div>
</div>


<p>Estos tiempos son calculados sin conocer de manera oficial la resolución de COFECE, buscando el mejor esquema para evitar impugnaciones al concurso.</p>