/* google charts */
div.google-visualization-tooltip > ul > li > span {
    /*color: #f6f6f6 !important;*/
    font-size: 8pt !important;
    line-height: 1.2em;
    font-family: "Open Sans" !important;
}
div.google-visualization-tooltip {
    background: #f6f6f6;
    font-size: 8pt !important;
    line-height: 1.2em;
    border: white !important;
    width: 250px;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    z-index: 2;
    background: #f6f6f6 !IMPORTANT;
    font-color: black !IMPORTANT;
    font-family: "Open Sans" !important;
    border: white !IMPORTANT;
}

.jqplot-table-legend {
    width: auto;
    border-color: transparent !important;
    background: transparent !important;
    padding: 5px;
}

/* d3 charts */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    /*display: none;*/
}

.d3-tip {
    width: 250px;
    line-height: 1;
    /*font-weight: bold;*/
    font-family: "Open Sans";
    font-size: 11px;
    font-color: black !important;
    padding: 12px;
    background: #f6f6f6;
    color: black;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    width: 100%;
    line-height: 1;
    color: #f6f6f6;
    /*color: rgba(0, 0, 0, 0.8);*/
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.pill-container{
    margin-top:20px;
}

.all-container{
    max-width: 1070px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#FFFFFF;
    font-weight: bold;
    background-color:#00cc99;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color:#4d4d4d;
}