.bgimg                          { height: 400px; margin-bottom: 30px; padding: 50px 0; background: #424242; background-image: url('/images/bgc.png'); background-size: 1024px 270px; background-position: bottom; background-repeat: no-repeat; text-align: center; }
.bgimg img                      { width: 80px; }
.bgimg h2                       { font-size: 26px; font-weight: 700; line-height: 37px; color: #fff; }
.bgimg h4                       { margin-bottom: 30px; font-size: 14px; font-weight: 300; line-height: 26px; color: #fff; }
.bgimg .widget                  { text-align: center; }
.bgimg h5                       { margin-bottom: 20px; font-size: 14px; font-weight: 600; color: #fff; }
.bgimg .stat                    { font-size: 36px; font-weight: 300; color: #fff; }

.stages p                       { margin-bottom: 40px; }
.stages-widget                  { margin-bottom: 30px; }
.stages-widget img              { width: 35px; margin-right: 10px; float: left; }
.stages-widget .content         { width: calc(100% - 45px); float: left; }
.stages-widget .title           { margin-bottom: 20px; font-weight: 600; color: #0c9; }
.stages-widget p                { margin-bottom: 0; font-size: 14px; }

.methodology                    { background-color: #f6f6f6; margin-bottom: 30px; padding: 30px 0; }
.methodology .btn               { display: block; margin: 0 auto 20px; }
.methodology p                  { margin-bottom: 0; }

.publications                   { margin-bottom: 50px; }
.publications p                 { font-weight: 600; color: #0c9; }
.publications p > span          { font-weight: 300; color: #4a4a4a; }
.publications p > .read-more    { font-weight: 300; }

.panel                          { border:none; }
.well                           { border: none; }