
body::before {
  background: url(../images/aeropuerto.jpeg) no-repeat center center fixed;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: grayscale(100%);
  filter: contrast(70%);
  opacity:.2;
}

body{
    background-color:#000000;
}

.btn {
    padding: 4px 14px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #00cc99;
    color: #FFFFFF;
}
 

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
                               }

.title{
    color: #FFFFFF;
    font-weight:bold;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-inverse .navbar-right {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-inverse{
    background: #212121;
    border: #4d4d4d;
    color: #FFFFFF;
}

.top-buffer {
    background: #00cc99;
    color: #FFFFFF;
    margin-top:45px;
    font-weight:bold;
}

.login-text{
    font-size-base: 20px;
    color: #FFFFFF;
}

.login-buffer{
    margin-top:100px;
}

.top-buffer .navbar-brand {
    color: #FFFFFF;
}

.pill-container{
    margin-top:20px;
}

.all-container{
        max-width: 1070px;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#FFFFFF;
    font-weight: bold;
    background-color:#00cc99;
    }

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color:#4d4d4d;
    }

.navbar-inner {
    background: #00cc99;
    color: #FFFFFF;
    margin-top:0px;
}

.btn-primary {
    background: #00cc99;
    color: #FFFFFF;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #4d4d4d;
}
 
.btn-primary:active, .btn-primary.active {
    background: #4d4d4d;
    box-shadow: none;
}
